@import 'tailwindcss';

@font-face {
  font-family: 'Geist Mono';
  src: url('./assets/fonts/GeistMono-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-mono: 'Geist Mono', monospace;
  --color-grey: #d0d0d0;
  --color-dark-grey: #808080;
  --color-black: #000000;
  --color-white: #ffffff;
}
